body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    border: 2px solid black;
    overflow: hidden;
}

*{
    box-sizing: border-box;
}

.circle
{
    position: absolute;
}

.circle:hover 
{
    z-index: auto;
    cursor: pointer;
}

svg text 
{
    position: relative;
    z-index: 5;
}

.array-input
{
    margin: 1rem;
}

.code-selector
{
    margin-top: 1rem;
    border: 2px solid black;
    width: 100%;
    /* transition: 1.5s ease; */
}

.code-selector:hover
{
    box-shadow: 2px 2px 2px 2px;
    cursor: pointer;
}

.code-container
{
    width: 20rem;
    min-width: 20rem;
    border: 2px solid black;
}

.codeWrapper
{
    display: flex;
    height: 50%;
    width: 100%;
    min-width: 19rem;
    padding: 1rem;
    border: 2px solid black;
    background-color: antiquewhite;
}

.code > pre
{
    max-width: 15px;
}

.stack-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 17.5%;
}


.callStack
{
    width: 100%;
}

.stack
{
    display: table-cell;
    border: 20px solid blue;
    width: 10%;
    border-radius: 1rem;
    font-size: large;
}

.stack-element
{
    text-align: center;
    border: 2px solid black;
    width: 100%;
    height: 100%;
}

.run 
{
    background-color: rgb(0, 45, 248);
}
.stop
{
    background-color: rgb(255, 0, 0);
}

input 
{
    box-shadow: 2px 2px 2px 2px;
    margin-top: 0.4rem;
    width: 90%;
}

.arguments-input
{
    width: 50%;
    margin: 1rem;
}

button 
{
    box-shadow: 2px 2px 2px 2px;
    margin: 1rem;
    margin-right: 2rem;
}

button:hover
{
    box-shadow: 3px 3px 3px 3px;
    cursor: pointer;
}

.slider
{
    cursor: pointer;
}

.code-selector option:hover 
{
    cursor: pointer;
}

.memo-box
{
    position: relative;
    display: flex;
    font-weight: bold;
    top: 4%;
    right: 4%;
}

.memo-circle
{
    height: 3.5vw;
    width: 3.5vw;
    max-height: 50px;
    max-width: 50px;
    margin: 0 2vw;
    background-color: #2fc702;
    border-radius: 50%;
    border: 0.3vw solid black;
    background-clip: content-box;
}

#ansspan
{
    right: 50%;
    top: -10%;
    display: flex;
    position: absolute;
    margin: 5rem;
    color: green;
    font-weight: bold;
    transition: 0.2s ease;
}

@media screen and (max-width:995px)
{
    #ansspan
    {
        right: 5%;
        top: 50%;
        transition: 0.2s ease;
    }
}